body{
    background: pink
    url(jeunesaucine3.webp);
    background-size: cover;
}

.card:hover{
    cursor: pointer;
    background: rgb(182, 255, 253);
    z-index: 1;
    box-shadow: 10px 10px 10px 10px rgb(103, 10, 112) ;
    
}



.btn-perso{
    background-color: rgb(223, 19, 53);
    
}

.navbar{
    background-color: rgb(208, 53, 78) !important;
    font-size: larger;

    
}